<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-size-4 has-text-weight-bold" href="/">
            EPYA
        </a>
  
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Inicio
            </a>
    
            <a class="navbar-item">
                Documentacion
            </a>
    
            <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Más
            </a>
    
            <div class="navbar-dropdown">
                <a class="navbar-item">
                    Acerca de
                </a>
                <a class="navbar-item">
                    Empleos
                </a>
                <a class="navbar-item">
                    Contacto
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                    Reporta un problema
                </a>
            </div>
        </div>
    </div>
  
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a href="/registro_usuario" class="button is-primary">
                    <strong>Registrate</strong>
                </a>
                <a class="button is-light">
                    Inicio de sesión
                </a>
            </div>
        </div>
        </div>
    </div>
</nav>